<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ADOConnection" connectionString="Data Source=DESKTOP-3CU7O3P\SQLEXPRESS;Initial Catalog=ADOTask5;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>